.general{
    display: flex;
    justify-content:center;
    align-items:center;
}
.o-general{
    display: flex;
    justify-content:space-around;
   
}

.Cardcontainer{
    display: flex;
    justify-content:center;
    align-items:center;
    width: 50%;
}
.card{
  
    width: 100%;
    height: 30rem;
    border: 0;
    margin-right: 5rem;
    

}
.Fuentetitulos{
font-family: 'Roboto';
font-style: normal;
font-weight:normal;


font-size: 3.5rem;
line-height: 9rem;

color: #3FC1EA;}
.o-buttoncontainer{
    display: flex;
    justify-content:center;
    align-items:center;
}

.Iniciofuente{
    font-family: 'Roboto';
    font-style: normal;
    font-weight:500;
    
    
    font-size: 1.2rem;
    
    margin-bottom: 3rem;
    

    
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
   border-bottom: 2px solid #3FC1EA;
   
   box-shadow:none;
   color: #3FC1EA;
}
.o-nav{
    background-color: #3FC1EA;
    opacity: 94%;
color: #3FC1EA;
}

.Iniciofuente::placeholder{
    color: #3FC1EA;
}

.Iniciofuente:focus{
    box-shadow:none;
    color: #3FC1EA;

}
    

.o-btn{
    margin-top: 5%;
background-color:#3FC1EA;
font-family: 'Roboto';
font-style: normal;
font-weight:bold;
border:none;
}

.o-btnInicio{
    background-color:white;
    color: #3FC1EA;
    font-size:120% ;

}

.o-btnInicio:hover{
    background-color:white;
    color: #3FC1EA;
  
    text-shadow:  1px 1px 2px rgb(9, 97, 156)

}
.o-font{
    font-size: xx-large;
    line-height: 0px;
    margin-bottom: 10%;

}
.o-font2{
    font-size: x-large;
    line-height: 0px;
    margin-bottom: 8%;
    color: white;

}

.o-font3{
    font-size: large;
    line-height: 0px;
    margin-bottom: 5%;
    color: white;

}
.card2{
    background-color: #3FC1EA;
    
}